<?xml version="1.0" encoding="UTF-8"?>
<Settings>
	<Setting name="FRAME_WIDTH">500</Setting>
	<Setting name="FRAME_HEIGHT">450</Setting>
	<Setting name="FRAME_TITLE">Ace Flappy Bird</Setting>
	<Setting name="GRAVITY">1.0</Setting>

	<Setting name="TARGET_FRAME_RATE">60</Setting>

	<Setting name="PLAYER_JUMP_STRENGTH">2</Setting>
	<Setting name="PLAYER_SIZE">35</Setting>
	<Setting name="PLAYER_SPAWN_X">150</Setting>
	<Setting name="PLAYER_SPAWN_Y">150</Setting>
	<Setting name="PLAYER_IMAGE_MASK_DIAMETER">95</Setting>

	<Setting name="PIPE_MOVE_SPEED">4</Setting>
	<Setting name="STARTING_PIPES">2</Setting>
	<Setting name="PIPE_X_MARGIN">250</Setting>
	<Setting name="PIPE_WIDTH">45</Setting>
	<Setting name="PIPE_HEIGHT">380</Setting>
	<Setting name="PIPE_Y_MARGIN">45</Setting>
	<Setting name="PIPE_MIN_MID">-100</Setting>
	<Setting name="PIPE_MAX_MID">100</Setting>
	<Setting name="STARTING_PIPE_MARGIN">4</Setting>
	
	<Setting name="DEATH_DELAY">2000</Setting>
</Settings>